.btn-caliche:hover {
  background-color: #00b894 !important;
  color: white !important;
}
.btn-caliche2 {
  background-color: #00b894 !important;
  color: white !important;
  margin-left: 3px !important;
}
.btn-caliche3 {
  background-color: #00b894 !important;
  color: white !important;
}
.btn-caliche2:hover {
  background-color: #fff !important;
  border: 2px solid #00b894 !important;
  color: #00b894 !important;
}

footer {
  background-color: #005947 !important;
}

footer a:hover {
  color: #00b894 !important;
}
